.background {
    display: grid;
    font-family: "Cardo", serif !important;
    background-color: white;
}

.head-container {
    width: 100%;
    height: 35rem;
    background-color: #e9edc9;
}

#logo {
    display: block;
    margin: auto;
    width: 10rem;
}

#title {
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn {
    border-radius: 12px !important;
    background-color: #ccd5ae !important;
    border-color: #ccd5ae !important;
    color: white !important;
    border-radius: 12px !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    background-color: white !important;
    color: #ccd5ae !important;
}

/*Restaurant cards css*/

.section {
    margin: auto;
    width: 90rem;
    padding: 2rem 0 2rem 0;
}

.tips-title {
    font-size: 2rem;
    color: #41405f;
    font-family: "PT Sans", sans-serif;
    padding: 1rem 2rem 0 6.5rem;
}

.restaurant-cards-container {
    display: flex;
    width: 80rem;
    margin: auto !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0 0 1rem;
}

.tips-nearby-title {
    padding-left: 6.5rem;
    padding-top: 4rem;
}

.tips-nearby-description {
    font-size: 1.3rem;
    color: #787794;
    font-family: "PT Sans", sans-serif;
}

.tips-nearby-container {
    padding-top: 1rem;
    display: flex;
    width: 80rem;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tips-nearby-title-container {
    width: 18rem;
    padding-right: 15px;
}

.tips-nearby-title {
    font-size: 2rem;
    color: #41405f;
    font-family: "PT Sans", sans-serif;
}

.top-restaurants-nearby {
    width: 60rem;
}

.card-image {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.card>* {
    transition: color 500ms;
}

.card {
    height: 17rem;
    border-radius: 12px !important;
    width: 17rem;
    transition: background-color 500ms;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.card:hover {
    background-color: #e9edc9;
}

.card-address {
    padding-right: 25px;
    font-style: italic;
    font-size: 13px;
    position: absolute;
    bottom: 0;
}

/*Mobile css*/