.primary-text {
    font-size: 2rem;
    color: #41405f;
    font-family: "PT Sans", sans-serif;
    transition: color 500ms;
}

.secondary-text {
    font-size: 1.3rem;
    color: #787794;
    font-family: "PT Sans", sans-serif;
    transition: color 500ms;
}

.background {
    display: grid;
    font-family: "Cardo", serif !important;
    background-color: white;
}

.head-container {
    width: 100%;
    height: 35rem;
    background-color: #e9edc9;
}

#logo {
    display: block;
    margin: auto;
    width: 10rem;
}

#title {
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn {
    border-radius: 12px !important;
    background-color: #ccd5ae !important;
    border-color: #ccd5ae !important;
    color: white !important;
    border-radius: 12px !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    background-color: white !important;
    color: #ccd5ae !important;
}

/* || I nostri consigli */

#suggestions-main-container {
    margin: auto;
    width: 90%;
    max-width: 90rem;
    padding: 2rem 0 2rem 0;
}

#our-suggestions {
    padding: 1rem 2rem 0 6.5rem;
}

#our-suggestions-card-list {
    display: flex;
    width: 90%;
    margin: auto !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0 0 1rem;
}

/* || I migliori ristoranti vicino a te */

#nearby-suggestions {
    padding-left: 7.5%;
    padding-top: 4rem;
    width: 90%;
}

#nearby-suggestions-container {
    padding-top: 1rem;
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#nearby-suggestions-description-container {
    width: 18rem;
    padding-right: 15px;
}

#nearby-suggestions {
    font-size: 2rem;
    color: #41405f;
    font-family: "PT Sans", sans-serif;
}

#nearby-suggestions-card-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 60rem;
    min-width: 40rem;
}

.card>* {
    transition: color 500ms;
}

.card {
    height: 17rem;
    width: 17rem;
    transition: background-color 500ms;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.card:hover {
    background-color: #faedcd;
}

.card-image {
    max-height: 12rem;
}

.card-address {
    padding-right: 25px;
    font-style: italic;
    font-size: 13px;
    position: absolute;
    bottom: 0;
}

/* || Aggiungi un ristorante */

#add-restaurant-button-container {
    padding: 2.5rem;
}

#add-restaurant-button {
    display: grid;
    margin: auto;
    place-items: center;
    align-items: center;
    width: fit-content;
    background-color: #d4a373;
    transition: background-color 500ms;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}

#add-restaurant-button:hover {
    background-color: #faedcd;
}

#add-restaurant-button:hover>.primary-text {
    color: #41405f;
}

#add-restaurant-button:hover>.secondary-text {
    color: #787794;
}

.light-text {
    color: white;
}