h1 {
    color: #41405f;
    text-align: center;
    font-family: "PT Sans", sans-serif;
}

.background {
    display: grid;
    place-items: center;
}

.head-container {
    width: 100%;
    height: 35rem;
    background-color: #e36a7d;
}

#logo {
    display: block;
    margin: auto;
    width: 10rem;
}

#title {
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 30px;
}

.searchbar {
    text-indent: 20px;
    border: 1px solid white;
    box-shadow: 5px 10px 10px #30333d;
    border-radius: 12px;
    outline: none;
}

.search-container {
    width: 60rem;
    height: 15rem;
    display: flex;
    margin: auto;
    place-items: center;
    background-image: url(/img/search-bakrgound.jpg);
    background-position: center;
    border-radius: 12px;
    padding: 60px;
    transition: height 400ms;
}

.search-container>* {
    /* tutto ciò che sta dentro .search-container */
    height: 3rem;
    margin: 0 0.5rem;
}

.search-container:hover {
    height: 18rem;
}

#searchbar-primary {
    flex: 2;
}

#searchbar-secondary {
    flex: 1;
}

.btn {
    border-radius: 12px !important;
    background-color: #e36a7d !important;
    border-color: #e36a7d !important;
    color: white !important;
    border-radius: 12px !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    background-color: white !important;
    color: #e36a7d !important;
}

/*Restaurant cards css*/

.tips-title {
    padding: 30px;
}

.restaurant-cards-container {
    padding: 0 2rem 5rem 2rem;
    width: 100%;
}

.row {
    justify-content: center;
}

.card-image {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.card {
    height: 25rem;
    border-radius: 12px !important;
    width: 25rem;
    transition: width 500ms;
    box-shadow: 5px 10px 10px #b2b4b6;
    cursor: pointer;
}

.card:hover {
    width: 27rem;
    height: 27rem;
}

.card-address {
    background-image: url(/img/icons/position.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: center;
    padding-right: 25px;
    font-style: italic;
    font-size: 13px;
    position: absolute;
    bottom: 0;
}

/*Mobile css*/

@media only screen and (max-width: 730px) {
    .head-container {
        padding: 0 2rem 0 2rem;
    }
    .searchbar {
        width: 100%;
    }
    .search-container {
        width: 100%;
        display: grid;
    }
    .col {
        width: 100%;
    }
    .row {
        display: grid !important;
    }
    .card:hover {
        width: 25rem !important;
        height: 25rem !important;
    }
}