.modal-dialog {
	max-width: 50rem !important;
	min-width: 50rem !important;
}

#form-main-container {
	margin: auto;
	width: fit-content;
	background-color: #ccd5ae;
	height: fit-content;
	padding: 3rem;
	border-radius: 2rem;
}

#form {
	display: grid;
	padding-bottom: 1rem;
	place-items: center;
}

.label {
	padding-top: 1rem;
	width: 85%;
	text-align: left;
	font-weight: bold;
}

.text-input {
	width: 85%;
	text-indent: 1rem;
	border: 1px solid white;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
	border-radius: 12px;
	outline: none;
	height: 3rem;
	transition: border-radius 500ms;
}

.long-text-input {
	height: 10rem;
	text-indent: 0;
	padding: 1rem;
}

.modal-header {
	padding: 1rem 2rem !important;
}

.modal-content {
	border: 0px !important;
}

.modal-footer {
	justify-content: center !important;
}

#submit-restaurant-button {
	width: 85%;
}

.checkbox-container {
	width: 85%;
}

.tip {
	padding-top: 0.5rem;
	width: 85%;
	font-size: 14px;
	text-align: right;
}

.left-tip {
	padding-top: 0.5rem;
	width: 85%;
	font-size: 14px;
	text-align: left;
}

.tip:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*Autocomplete dropdown*/
.pac-container {
	z-index: 9999;
	border-radius: 0 0 12px 12px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
	border: none;
}

.pag-icon {
	background-image: none !important;
}
.hdpi .pac-icon {
	background-image: none !important;
}
