body {
    display: flex;
    flex-direction: row;
}

.background {
    font-family: "Cardo", serif;
    background-color: #ebeef0
}

.sidebar-outside-container {
    padding: 1rem;
    min-width: fit-content;
}

.sidebar {
    background-color: white;
    border: solid #e0e0e0;
    border-width: 1px;
    padding: 1rem;
    width: fit-content;
    height: 60rem;
    border-radius: 5px;
}

.sidebar-element-title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Cardo", serif;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-inside-container {
    font-family: "Cardo", serif;
    background-color: white;
    padding: 16px;
    border: solid #e0e0e0;
    border-width: 0 0 1px 0;
}

.checkbox {
    display: block;
}

.cards-container {
    padding: 1rem;
}

.card {
    width: 50rem;
}

.card-img {
    height: 100%;
    width: 100%;
}