.header {
	display: flex;
	background-color: #ccd5ae;
	justify-content: center;
	align-items: center;
	height: 7rem;
}
.primary-text {
	font-size: 1.5rem;
	color: #41405f;
	font-family: 'Noto Sans', sans-serif;
	transition: color 500ms;
	font-weight: bold;
}

.header-logo {
	padding-right: 3rem;
	width: auto;
	height: 5rem;
	cursor: pointer;
}

.searchbar {
	height: 3rem;
	width: 25rem;
}

.body-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.background {
	font-family: 'Cardo', serif;
	background-color: white;
}

.cards-container {
	padding: 1rem;
}

.card {
	max-height: 15rem;
	width: fit-content;
	transition: background-color 500ms;
}

.card:hover {
	/* background-color: #e9edc9; */
	cursor: pointer;
}

.card-img-container {
	overflow: hidden;
}

.card-img {
	width: auto !important;
	height: 15rem;
}

.horizontal-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.address-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.tags-container {
	display: flex;
	flex-direction: row;
	width: auto;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.card.tag {
	width: fit-content;
	height: 1.5rem !important;
	flex-wrap: nowrap;
}

.card.tag:hover {
	background-color: #e0cfad;
}

.card.tag > * {
	padding: 0 !important;
	font-size: 14px;
}

.card-title {
	font-weight: bold;
}
