.header {
    display: flex;
    background-color: #ccd5ae;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.header-logo {
    padding-right: 3rem;
    width: auto;
    height: 7rem;
    cursor: pointer;
}

.searchbar {
    height: 3rem;
    width: 25rem;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.background {
    font-family: "Cardo", serif;
    background-color: white;
}

.cards-container {
    padding: 1rem;
}

.card {
    max-height: 15rem;
    width: 50rem;
    transition: background-color 500ms;
}

.card:hover {
    background-color: #e9edc9;
    cursor: pointer;

}

.card-img-container {
    overflow: hidden;
}

.card-img {
    width: auto !important;
    height: 15rem;
}