.searchbar {
	text-indent: 35px;
	border: 1px solid white;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
	border-radius: 12px;
	outline: none;
	background-image: url(../img/icons/search.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position-y: center;
	background-position-x: 10px;
}

.searchbar::-webkit-search-cancel-button {
	-webkit-appearance: none;
	cursor: pointer;
	padding: 10px;
	height: 23px;
	width: 23px;
	content: url(../img/icons/clear.png);
}

.search-container {
	width: 60rem;
	height: 15rem;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-image: url(../img/search-background.jpg);
	background-position: center;
	border-radius: 12px;
	padding: 60px;
	transition: height 400ms;
}

.btn.search-btn.invert-btn {
	background-color: white;
	color: #ccd5ae;
}

.btn.search-btn.invert-btn:hover {
	background-color: #ccd5ae;
	border-color: white;
	color: white;
}

.btn.search-btn {
	height: 3rem;
	margin: 0 1rem;
	border-radius: 12px;
	background-color: #ccd5ae;
	border-color: #ccd5ae;
	color: white;
	border-radius: 12px;
	outline-color: white !important;
	box-shadow: none;
}

.btn.search-btn:hover {
	background-color: white;
	color: #ccd5ae;
}

.text-input.searchbar {
	text-indent: 2rem;
}

@media screen and (max-width: 980px) {
	#searchButton {
		width: 85%;
	}
}
