.header-container {
    padding: 1rem
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 7rem;
    border: solid #e0e0e0;
    border-width: 1px;
}

.header-logo {
    padding-right: 3rem;
    width: auto;
    height: 7rem;
}

.searchbar {
    height: 3rem;
    width: 25rem;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.background {
    font-family: "Cardo", serif;
    background-color: #ebeef0
}

.cards-container {
    padding: 1rem;
}

.card {
    max-height: 15rem;
    width: 50rem;
}

.card-img-container {
    overflow: hidden;
}

.card-img {
    width: auto !important;
    height: 15rem;
}