body{
    font-family: 'Cardo', serif;
    
}

.dark{
    background-color: #484D5C;
}

.header{
    width: 100%;
    height: fit-content;
    padding-bottom: 100%;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

#title{
    text-align: center;
    font-size: 3rem;
    color: #FFCE00;
    font-family: 'Oswald', sans-serif;
}

/*Searchbar css, fonte https://stackoverflow.com/questions/42421361/input-button-elements-not-shrinking-in-a-flex-container */

.searchbar{
    text-indent: 20px;
    border: 1px solid white;
}

.search-container {
    padding-top: 5rem;
    width: 50rem;
    display: flex;
    margin: auto;
    }

.search-container > * {  /* .search-container che ha come parente ogni elemento, ma non ho ben capito perchè così funziona, però questo serve per la spaziatura tra i due input*/
    margin: 0 .5rem;    
    }

#searchbar-primary {
    height: 3rem;
    flex: 2;
    }

#searchbar-secondary {
    height: 3rem;
    flex: 1;
    }

/*Fine searchbar css */
