h1{
    color: #41405F;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.background{
    font-family: 'Cardo', serif;
    background-color: #EBEEF0;
}


.head-container{
    margin: auto;
    width: 100%;
    height: 35rem;
    background-color: #E36A7D;
}


#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

#title{
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 30px;

}

.searchbar{
    text-indent: 20px;
    border: 1px solid white;
    box-shadow: 5px 10px 10px #30333d;
    border-radius: 12px;
    outline: none;
}

.search-container {
    width: 60rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url(img/search-bakrgound.jpg);
    background-position: center;
    border-radius: 12px;
    padding: 60px;
    transition: height 400ms;
    }

.search-container > * {  /* tutto ciò che sta dentro .search-container */
    height: 3rem;
    margin: 0 .5rem;  
    }

.search-container:hover{
    height: 18rem;
}

#searchbar-primary {
    flex: 2;
    }



#searchbar-secondary {
    flex: 1;
    }

/*Restaurant card css*/
.tips-title{
    padding: 30px;
}

.restaurant-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card-table{
    margin: auto;
}

.card-row{
    padding:10px;
}

.card-image{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

}
.card{
    min-height: fit-content;
    height: 25rem;
    border-radius: 12px !important;
    width: 25rem;
    transition: width 500ms;
    box-shadow: 5px 10px 10px #b2b4b6;

 }

 .card:hover{
     width: 30rem;
     height: 30rem;
 }

 .card-address{
     font-style: italic;
     font-size: 13px;
     position: absolute;
     bottom:0;
 }
