.searchbar {
    text-indent: 35px;
    border: 1px solid white;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    outline: none;
    background-image: url(../img/icons/search.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
}

.searchbar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    padding: 10px;
    height: 23px;
    width: 23px;
    content: url(../img/icons/clear.png);
}

.search-container {
    width: 60rem;
    height: 15rem;
    display: flex;
    margin: auto;
    place-items: center;
    background-image: url(../img/search-background.jpg);
    background-position: center;
    border-radius: 12px;
    padding: 60px;
    transition: height 400ms;
}

.search-container>* {
    /* tutto ciò che sta dentro .search-container */
    height: 3rem;
    margin: 0 0.5rem;
}

.search-container:hover {
    height: 18rem;
}

#searchbar-primary {
    flex: 2;
}

#searchbar-secondary {
    flex: 1;
}