/* Stile del contenitore della descrizione e modifica ristoranti */

.details-container {
	padding: 2rem;
}

.modify-info {
	display: flex;
	align-items: center;
}

.modify-h3 {
	padding: 0.75rem;
	margin: 0;
}

/*
.description {
	font-size: 17px;
}*/

ul {
    list-style: none; /* Toglie i default bullets */
}
  
ul li::before {
    content: "\2022";  
    color: #b9c46c; 
    /*font-weight: bold; */
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/* Stile del bottone di modifica del ristorante */

.addinfo-button {
	display: inline-block;
	background-color: #ccd5ae; /* Versione arancione: #d4a373; */
	border-radius: 20px;
	border: 1px;
	color: white;
	text-align: center;
	font-size: 28px;
	padding: 15px;
	transition: all 0.5s;
	cursor: pointer;
	/*margin: 5px;*/
}

.addinfo-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.addinfo-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s
}

.addinfo-button:hover {
	background-color: #e9edc9; /* Versione arancione: #faedcd; */
	color: #41405f;
}

.addinfo-button:hover span {
	padding-right: 25px;
}

.addinfo-button:hover span:after {
	opacity: 1;
	right: 0;
}
