.header {
	display: flex;
	background-color: #ccd5ae;
	justify-content: center;
	align-items: center;
	height: 7rem;
}
.primary-text {
	font-size: 1.5rem;
	color: #41405f;
	font-family: 'Noto Sans', sans-serif;
	transition: color 500ms;
	font-weight: bold;
}

.header-logo {
	padding-right: 3rem;
	width: auto;
	height: 5rem;
	cursor: pointer;
}

.searchbar {
	height: 3rem;
	width: 25rem;
}

.background {
	font-family: 'Cardo', serif;
	background-color: white;
}

.card {
	transition: background-color 500ms;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.card:hover {
	/*background-color: #cdd5ae;*/
	cursor: default;
}

.card-title {
	font-weight: bold;
}

.card.tag .card-text:hover {
	color: white;
}

.card-body {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title-container h5 {
	/*color: #d4a373;*/
	color: #9bc46c;
}

.user-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* CSS per il box della valutazione utenti */

.rating-title {
	text-align: center;
}

.rating-container {
	padding: 1em;
}


.progress-group {
	padding: 0.25em;
	align-items: center;
}

.rating-tip {
	/*padding-top: 0.5rem;*/
	font-size: 14px;
	text-align: center;
}

.bg-light-yellow {
	background-color: rgb(248, 226, 100) !important;
}

.star-color {
	color: rgb(248, 226, 100) !important;
}

.my-card {
	display: block;
	position: absolute;
}