.header {
	display: flex;
	background-color: #ccd5ae;
	justify-content: center;
	align-items: center;
	height: 7rem;
}
.primary-text {
	font-size: 1.5rem;
	color: #41405f;
	font-family: 'Noto Sans', sans-serif;
	transition: color 500ms;
	font-weight: bold;
}

.header-logo {
	padding-right: 3rem;
	width: auto;
	height: 5rem;
	cursor: pointer;
}

.searchbar {
	height: 3rem;
	width: 25rem;
}

.background {
	font-family: 'Cardo', serif;
	background-color: white;
}

.card {
	transition: background-color 500ms;
}

.card:hover {
	background-color: #f0f1e5;
	cursor: default;
}

.card-title {
	font-weight: bold;
}

.card.tag .card-text:hover {
	color: white;
}

.card-body {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.user-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
